#task-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskform tasklist";
}

#taskform {
    grid-area: taskform;
    max-width: 300px;
    margin: 0 auto;

    label {
        display: block;
        width: 100%;
    }

    background-color: #E7E7E7;
    padding: 20px;
    border-radius: 20px;
    height: 60vh;
}

#tasks {

    label {
        margin-top: 15px;
        font-size: 0.9rem;
        font-weight: 500;
    }

    input, #priorityInput {
        width: 100%;
        padding: 5px 10px;
        border: none;
        border-bottom: 2px solid #8db985;
        border-radius: 3px;
        transition: border-bottom 0.1s ease-in;


        &:focus {
            outline: none;
            border-bottom: 2px solid #b4ecaa;
        }
    }

}


.taskButtonContainer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#addTask {
    color: white;
    background-color: #93bd8b;
    padding: 6px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.1s ease-in;

    &:hover {
        background-color: #6b8a65;
    }
}


#tasklist {
    grid-area: tasklist;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;

    }

    li {
        margin-bottom: 10px;
        background-color: #D7DFF5;
        padding: 10px;
        border-radius: 12px;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 600;
        font-style: italic;
        padding: 4px;
        border-bottom: 3px solid #8db985;
        color: #384934;
        width: 100%;
    }

    p {
        margin: 7px 0;
        padding-left: 7px;
    }

    button {
        color: #F35050;
        background: transparent;
        padding: 4px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid #F35050;
        margin: 5px 0;

        transition: background-color 0.1s ease;  
        transition: color 0.1s ease;  

        &:hover {
            background-color: #F35050;
            color: white;
        }
    }

}

@media only screen and (max-width: 600px) {
    #task-grid {
        gap: 0px 10px;
    }

    #taskform {
        position: relative;
        left: -40px;

        label {
            width: 100%;
        }

        max-width: 220px;
    }

    #tasks {
        font-size: 0.8rem;
    }

    #tasklist { 

        h2 {
            font-size: 1rem;
        }

        p {
            font-size: 0.9rem;
        }
    }
}

